PORT=5000
MONGO_URI=mongodb://anju:ujna2003@ac-tatmkg2-shard-00-00.jwbm7qp.mongodb.net:27017,ac-tatmkg2-shard-00-01.jwbm7qp.mongodb.net:27017,ac-tatmkg2-shard-00-02.jwbm7qp.mongodb.net:27017/shopwave?ssl=true&replicaSet=atlas-zzpnep-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
NODE_ENV=development
cd C:\Users\ANJU\Downloads\shopwave-ecommerce\frontend\src
Get-Content api.js